name: build

on:
  release:
    types: [ released ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@d68193b68216da64eafaa618f53c59f5d271c56e  # v1.14.0
    with:
      env: |
        FFTW_DIR: /opt/homebrew/opt/fftw/lib/
      targets: |
        # Linux wheels
        - cp3*-manylinux_x86_64
        # MacOS wheels
        - cp3*-macosx_x86_64
        # MacOS arm64 wheels
        - cp3*-macosx_arm64
      sdist: true
      test_command: python -c "from romanisim import ramp_fit_casertano"
      upload_to_pypi: ${{ (github.event_name == 'release') && (github.event.action == 'released') }}
    secrets:
      pypi_token: ${{ secrets.PYPI_PASSWORD_STSCI_MAINTAINER }}
