name: tests

on:
  push:
    branches:
      - main
      - "*.x"
    tags:
      - "*"
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: "0 9 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@86823142467dd2afcd1bbac57d3a664cf468eb3b # v2.1.0
    with:
      envs: |
        - linux: check-style
  latest_data_cache:
    uses: ./.github/workflows/retrieve_cache.yml
    with:
      cache_path: /tmp/data
  test:
    needs: [latest_data_cache]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@86823142467dd2afcd1bbac57d3a664cf468eb3b # v2.1.0
    with:
      libraries: |
        apt:
          - libxml2-dev
          - libxslt1-dev
        brew:
          - eigen
          - fftw
      setenv: |
        STPSF_PATH: ${{ needs.latest_data_cache.outputs.cache_path }}/stpsf-data/
        GALSIM_CAT_PATH: ${{ needs.latest_data_cache.outputs.cache_path }}/galsim_data/real_galaxy_catalog_23.5_example.fits
        FFTW_DIR: /opt/homebrew/opt/fftw/lib/
      cache-path: ${{ needs.latest_data_cache.outputs.cache_path }}
      cache-key: ${{ needs.latest_data_cache.outputs.cache_key }}
      envs: |
        - linux: py311-oldestdeps-cov-xdist
        - linux: py311-xdist
        - linux: py312-xdist
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py3-cov-xdist
          coverage: codecov
        - macos: py3-xdist
